<a href="#" class="card card__testimonial text-decoration-none h-100">
	<div class="card-body pt-5">
		<div class="avatar"><img src="assets/images/testimonial1.png"></div>
		<h6 class="h6 fw-semibold text__color mt-4 mb-1">Cameron Williamson</h6>
		<p class="body__text3 fw-medium text__gray-dark">Hüquqşünas, Ali Məhkəmə</p>
		<p class="body__text2 fw-normal text__gray-dark">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
	</div>
</a>