<div class="swiper swiper__testimonials">
	<div class="swiper-wrapper">
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
		<div class="swiper-slide">{{> testimonials-card }}</div>
	</div>
</div>
