<div class="row footer__header">
	<div class="col-12 col-sm-12 col-md-12 col-lg-8 px-3 px-md-0">
		<ul class="list-group list-group-flush list-group-horizontal-lg flex-lg-wrap list-unstyled links__list body__text1 float-start">
			<li><a href="#" class="text-decoration-none text__white">Haqqımızda</a></li>
			<li><a href="#" class="text-decoration-none text__white">Kommentariyalar</a></li>
			<li><a href="#" class="text-decoration-none text__white">Sual - cavab</a></li>
			<li><a href="#" class="text-decoration-none text__white">Daxil ol</a></li>
			<li><a href="#" class="text-decoration-none text__white">Qeydiyyat</a></li>
			<li><a href="#" class="text-decoration-none text__white">Əlaqə</a></li>
		</ul>
	</div>

	<div class="col-12 col-sm-12 col-md-12 col-lg-4 px-3 px-md-0 d-none d-md-none d-lg-flex justify-content-end">
		<ul class="list-group list-group-horizontal list-unstyled terms__list body__text1 float-end">
			<li><a href="#" class="text-decoration-none text__white">Terms & Conditions</a></li>
			<li><a href="#" class="text-decoration-none text__white">Privacy Policy</a></li>
		</ul>
	</div>
</div>

<div class="row footer__body">
	<div class="col-lg-4 d-flex align-items-center justify-content-start px-3 px-md-0">
		<ul class="list-group-horizontal list-unstyled social__links d-none d-md-none d-lg-flex align-items-center">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-youtube"></i>
				</a>
			</li>
		</ul>
	</div>

	<div class="col-6 col-lg-4 d-flex align-items-center justify-content-start justify-content-lg-center">
		<img src="assets/images/logo-white.png" alt="" class="img-fluid" />
	</div>

	<div class="col-6 col-lg-4 d-flex align-items-center justify-content-end px-3 px-md-0">
		<a href="#" class="btn btn-white text__primary fw-bold body__text1 border-radius__5">
			<i class="far fa-crown me-2"></i>
			<span>Abunə ol</span>
		</a>
	</div>
</div>

<div class="row d-flex d-lg-none py-4">
	<div class="col-12 col-md-12 d-flex align-items-center justify-content-start px-3 px-md-0">
		<ul class="list-group-horizontal list-unstyled social__links d-inline-flex justify-content-center align-items-center w-100">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-youtube"></i>
				</a>
			</li>
		</ul>
	</div>

	<div class="col-12 col-sm-12 col-md-12 col-lg-4 px-3 px-md-0 pt-3 pb-3">
		<ul class="list-group list-group-horizontal list-unstyled terms__list body__text1 text-center justify-content-center">
			<li><a href="#" class="text-decoration-none text__white">Terms & Conditions</a></li>
			<li><a href="#" class="text-decoration-none text__white">Privacy Policy</a></li>
		</ul>
	</div>
</div>

<div class="row footer__foot">
	<div class="col-12 col-md-12 d-flex justify-content-center justify-content-md-start align-items-center px-3 px-md-0">
		<a href="#" class="rights__text text__white text-decoration-none mb-0 me-2">
			© 2023 All Rights Reserved. Developed by
			<picture class="ms-2">
				<source srcset="assets/images/era-logo-white.svg" type="image/svg+xml" />
				<img src="assets/images/era-logo-white.svg" class="img-fluid" alt="..." />
			</picture>
		</a>
	</div>
</div>
