<script src="assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="assets/plugins/select2/select2.min.js"></script>
<script src="assets/plugins/select2/select2.settings.js"></script>
<!-- Swiper -->
<script src="assets/plugins/swiper/swiper.min.js"></script>
<script src="assets/plugins/swiper/swiper-settings.js"></script>
<script src="assets/plugins/custom.js"></script>
