<a href="#" class="d-flex d-lg-none position-relative overflow-hidden bg__gray-light border-radius__50 login__btn ms-3">
  <i class="far fa-user text__black"></i>
</a>

<!-- Profile image -->
<a class="navbar-brand mx-auto ms-lg-0" href="index.html">
  <img alt="Image placeholder" src="assets/images/logo.png" class="img-fluid navbar-brand-img" />
</a>
<!-- Navbar collapse trigger -->
<a class="navbar-toggler border-0 me-2" data-bs-toggle="collapse" data-bs-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
  <div class="menu-btn">
    <div class="menu-btn_burger"></div>
  </div>
</a>

<!-- Navbar nav -->
<div class="collapse navbar-collapse" id="navbar-main-collapse">
  <a href="#" class="nav-link text-decoration-none d-block d-md-none w-100 border-top border-color__light text__color fw-medium sub__title1 login__link"> Daxil ol </a>
  <a href="#" class="nav-link text-decoration-none d-block d-md-none w-100 border-top border-color__light text__color fw-medium sub__title1 reg__link"> Qeydiyyat </a>

  <a href="#" class="row d-flex text-decoration-none profile__btn align-items-center py-3 g-0 order-first order-md-last ms-auto">
    <div class="col-3 col-md-3 order-first order-md-last">
      <div class="profile__img profile__link">
        <img src="assets/images/testimonial1.png" alt="" />
      </div>
    </div>
    <div class="col-9 col-md-6 offset-0 offset-lg-3 order-last order-md-first">
      <div class="text-start p-0">
        <p class="body__text1 fw-semibold text__color mb-0">Cameron Williamson</p>
      </div>
    </div>
  </a>


  <ul class="navbar-nav align-items-lg-center ms-auto">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Haqqımızda</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Kommentariyalar</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Sual-cavab</a>
    </li>
    <li class="nav-item me-0 d-lg-none d-xl-block">
      <a class="nav-link" href="#">Əlaqə</a>
    </li>
    <li class="nav-item me-0 d-lg-none d-xl-block">
      <a class="nav-link" href="#">Çıxış</a>
    </li>
  </ul>

  <ul class="list-group list-unstyled list-group-horizontal social__links d-flex d-md-none mb-md-0 flex-wrap">
    <h4 class="h4 text__color fw-bold w-100 mb-4">Bizi sosial mediada izlə</h4>
    <li>
      <a href="#" class="btn btn-primary position-relative overflow-hidden border-radius__50 text-decoration-none">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="#" class="btn btn-primary position-relative overflow-hidden border-radius__50 text-decoration-none">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="#" class="btn btn-primary position-relative overflow-hidden border-radius__50 text-decoration-none">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
  </ul>

  <a href="contacts.html" class="btn btn-primary d-none d-lg-flex text-decoration-none border-radius__5 fw-bold px-5 ms-auto"><span>Daxil ol</span></a>

</div>
