.about__block {
	.content__body {
		a {
			margin-right: 70px;

			@include breakpoint($sm-bp) {
				display: block;
				width: 100%;
				margin-bottom: 24px;
			}

			&:last-child {
				margin-right: 0;

				@include breakpoint($sm-bp) {
					margin-bottom: 0;
				}
			}
		}
	}
}

.section {
	&__padding {
		padding: 60px 115px !important;

		@include breakpoint($sm-bp) {
			padding: 55px 20px !important;
		}
	}
}


.img__border {
	max-height: 365px;

	display: flex;
	justify-content: center;
	align-items: stretch;

	img {
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
