<li class="nav-item dropdown dropdown-animate pos" data-bs-toggle="hover">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow p-0">
		<ul class="list-group list-group-flush">
			<li class="dropdown dropdown-submenu submenu__item">
				<a href="#" class="nav-link text-decoration-none submenu__link"> About exhibition </a>
			</li>
			<li class="dropdown dropdown-submenu submenu__item">
				<a href="#" class="nav-link text-decoration-none submenu__link"> Error pages and everything else. </a>
			</li>
			<li class="dropdown dropdown-submenu submenu__item">
				<a href="#" class="nav-link text-decoration-none submenu__link"> Error pages and everything else. </a>
			</li>
			<li class="dropdown dropdown-submenu submenu__item">
				<a href="#" class="nav-link text-decoration-none submenu__link"> Error pages and everything else. </a>
			</li>
			<li class="dropdown dropdown-submenu submenu__item">
				<a href="#" class="nav-link text-decoration-none submenu__link"> Error pages and everything else. </a>
			</li>
			<li class="dropdown dropdown-animate dropdown-submenu submenu__item position-relative" data-bs-toggle="hover">
				<a href="archive.html" class="nav-link text-decoration-none submenu__link">Submenu with child</a>
				<a href="#" class="list-group-item list-group-item-action dropdown-toggle submenu__child-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
				{{> menu_ul_li_ul}}
			</li>
		</ul>
	</div>
</li>
