<li class="nav-item dropdown dropdown-animate" data-bs-toggle="hover">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sections</a>
	<div class="dropdown-menu dropdown-menu-xl dropdown-menu-arrow p-0">
		<ul class="list-group list-group-flush">
			<li>
				<a href="sections.html" class="list-group-item list-group-item-action" role="button">
					<div class="media d-flex align-items-center">
						<figure style="width: 50px">
							<img alt="Image placeholder" src="assets/img/icons/essential/detailed/Apps.svg" class="svg-inject img-fluid" style="height: 50px" />
						</figure>
						<div class="media-body ml-3">
							<h6 class="mb-1">Explore all sections</h6>
							<p class="mb-0">Awesome section examples for any scenario.</p>
						</div>
					</div>
				</a>
			</li>
		</ul>
		<div class="dropdown-menu-links rounded-bottom delimiter-top p-4">
			<div class="row">
				<div class="col-sm-4">
					<a href="sections.html#headers" class="dropdown-item">Headers</a>
					<a href="sections.html#footers" class="dropdown-item">Footers</a>
					<a href="sections.html#blog" class="dropdown-item">Blog</a>
					<a href="sections.html#call-to-action" class="dropdown-item">Call to action</a>
					<a href="sections.html#clients" class="dropdown-item">Clients</a>
					<a href="sections.html#collapse" class="dropdown-item">Collapse</a>
				</div>
				<div class="col-sm-4">
					<a href="sections.html#covers" class="dropdown-item">Covers</a>
					<a href="sections.html#features" class="dropdown-item">Features</a>
					<a href="sections.html#milestone" class="dropdown-item">Milestone</a>
					<a href="sections.html#pricing" class="dropdown-item">Pricing</a>
					<a href="sections.html#projects" class="dropdown-item">Projects</a>
					<a href="sections.html#subscribe" class="dropdown-item">Subscribe</a>
				</div>
				<div class="col-sm-4">
					<a href="sections.html#swiper" class="dropdown-item">Swiper</a>
					<a href="sections.html#tables" class="dropdown-item">Tables</a>
					<a href="sections.html#team" class="dropdown-item">Team</a>
					<a href="sections.html#testimonials" class="dropdown-item">Testimonials</a>
					<a href="sections.html#video" class="dropdown-item">Video</a>
				</div>
			</div>
		</div>
		<div class="delimiter-top py-3 px-4">
			<span class="badge badge-soft-success">Yaass!</span>
			<p class="mt-2 mb-0">Explore, switch, customize any component, section or page and make your website rich its full potential.</p>
		</div>
	</div>
</li>